.container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(185, auto);
  grid-auto-flow: dense;
  position: relative;
  gap: 30px;
  z-index: 3;

  .item {
    &.colom-1 {
      grid-column-end: span 1;
    }

    &.colom-2 {
      grid-column-end: span 2;
    }

    &.colom-3 {
      grid-column-end: span 3;
    }

    &.colom-4 {
      grid-column-end: span 4;
    }

    &.colom-5 {
      grid-column-end: span 5;
    }

    &.colom-6 {
      grid-column-end: span 6;
    }

    &.colom-7 {
      grid-column-end: span 7;
    }

    &.colom-8 {
      grid-column-end: span 8;
    }

    &.colom-9 {
      grid-column-end: span 9;
    }

    &.colom-11 {
      grid-column-end: span 11;
    }

    &.colom-12 {
      grid-column-end: span 12;
    }

    &.row-1 {
      grid-row-end: span 1;
    }

    &.row-2 {
      grid-row-end: span 2;
    }

    &.row-3 {
      grid-row-end: span 3;
    }

    &.row-4 {
      grid-row-end: span 4;
    }
  }
}