@import "functions";
@import "colorVariables";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

.brand-text-icon {
  color: $pink;
  font-size: 24px;
  font-weight: 800;
  font-family: "poppins";

  &:hover {
    text-decoration: none;
    color: $pink;
  }
}

header {
  position: relative;
  margin-bottom: 60px;
  border-bottom: 1px solid $gray-200;
  width: 100%;

  .navbar {
    padding: 0;
    height: 80px;

    ul.navbar-nav {
      li.nav-item {

        &.active {
          a.nav-link {
            color: $pink;
          }
        }

        a {
          &.nav-link {
            font-size: 16px;
            letter-spacing: 1px;
            color: $primary;
            padding: 0 1rem;

            &:hover {
              &::after {
                content: '';
                display: block;
                border-bottom: 2px solid $primary;
                width: 50%;
                margin: auto;
                padding-bottom: 5px;
                margin-bottom: -7px;
              }
            }
          }
        }
      }
    }
  }
}