@import "functions";
@import "container-grid";
@import "colorVariables";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

.brand-text-icon {
  color: $pink;
  font-size: 24px;
  font-weight: 800;
  font-family: "poppins";

  &:hover {
    text-decoration: none;
    color: $pink;
  }
}

header {
  position: relative;
  border-bottom: 1px solid $gray-200;
  width: 100%;

  .navbar {
    padding: 0;
    height: 80px;

    ul.navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: $pink;
          }
        }

        a {
          &.nav-link {
            font-size: 16px;
            letter-spacing: 1px;
            color: $primary;
            padding: 0 1rem;

            &:hover {
              &::after {
                content: "";
                display: block;
                border-bottom: 2px solid $primary;
                width: 50%;
                margin: auto;
                padding-bottom: 5px;
                margin-bottom: -7px;
              }
            }
          }
        }
      }
    }
  }
}

// Section
section {
  margin-bottom: 60px;
}

// Button
.btn {
  background-color: $primary;
  border: none;
  color: white;
  width: 235px;
  font-weight: 300;

  &:hover {
    color: white;
  }
}

.btn-primary {
  background-color: $pink;
  border: none;

  &:hover {
    background-color: rgb(235, 177, 158);
  }
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title-section {
  text-align: center;
}

// Arrow Icon
.arrow-icon {
  color: rgb(197, 197, 197);
  cursor: pointer;
  height: 50px;
  width: 50px;
}

// Card Body
a {
  .card {
    margin: 2rem 1rem;

    .card-body {
      font-size: 18px;

      h5 {
        font-weight: 400;
      }

      p {
        font-weight: bold;
        color: #ff926b;
      }
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.card-category {
  position: relative;
  width: 165px;
  height: 113px;
  border-radius: 25px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include gradient-x(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
  }

  .img-wrapper {
    overflow: hidden;
    height: 100%;
    margin-bottom: 0;
  }

  .title-category {
    h4 {
      font-weight: 300;
      font-size: 16px;
      text-align: center;
    }

    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Category
.card {
  border-radius: 25px;
  border: none;
  cursor: pointer;

  .img-wrapper {
    overflow: hidden;
    height: 100%;
    margin-bottom: 0;
  }

  .meta-wrapper {
    margin-top: 1rem;

    h5 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 2px;
    }

    span {
      font-size: 16px;
    }
  }

  &.card-featured {
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    border: none;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transform: scale(1.1);
      transition: 0.5s transform ease-in-out;
      z-index: 2;
      @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
    }

    .img-wrapper {
      z-index: 2;
      transform: scale(1.1);
      transition: 0.25s transform ease-in-out;
    }

    .meta-wrapper {
      color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 4;
      padding: 20px;
      transform: translateY(0);
      transition: 0.3s transform ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &:hover {
      .meta-wrapper {
        transform: translateY(-10px);
      }

      &:after {
        transform: scale(1);
      }

      .img-wrapper {
        transform: scale(1);
      }
    }
  }

  &.card-detail {
    border: 1px solid #ededed;
    border-radius: 25px;
    width: 457px;
    padding: 30px;

    h5,
    h4 {
      font-weight: 800;
      font-size: 36px;

      span {
        font-size: 20px;
        font-weight: 300;
      }
    }
    .star {
      font-size: 30px;
      i {
        margin: 0 3px;
      }
    }
  }
  .conter {
    button {
      width: 30px;
      height: 30px;
      border: none;
      color: white;

      &:focus {
        outline: none;
      }
      background-color: $pink;
    }
    .minus {
      border-radius: 25px 0 0 25px;
    }
    .plus {
      border-radius: 0 25px 25px 0;
    }
    input {
      text-align: center;
      color: $primary;
      width: 40px;
      height: 30px;
      background-color: #ececec;
      border: none;
    }
  }
}

// Promotion

.promotion {
  height: 433px;
  background-size: cover;
  background-image: url("../images/bc-promotion.png");

  h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    color: #ab715c;
    margin: 3rem 0;
  }
}

// Testimoni
.testimoni {
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;

  p {
    font-weight: 300;
    color: #9b8080;
    font-style: italic;
  }

  img {
    width: 80px;
    height: auto;
    margin: 1.5rem 0;
  }
}

// Footer
footer {
  border-top: 1px solid $gray-200;
  padding-top: 50px;

  .brand-tagline {
    margin-top: 8px;
    color: $primary;
    font-weight: 300;
  }

  .list-group-item {
    padding: 0.3125rem 0;
    border: 0;

    a,
    span {
      color: $primary;
      font-weight: 300;
    }

    a {
      @include hover-focus {
        color: $gray-800;
      }
    }
  }

  .copyrights {
    margin: 50px 0;
    font-weight: 300;
    color: $primary;
  }
}

// Hero Product
.hero-product {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;

  .img-hero {
    img {
      height: 533px;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
      @include gradient-y(rgba($black, 0), rgba($black, 0.51), 0%, 100%);
    }
  }
}
